.home {
	height: 100vh;
	width: 100vw;
	padding: 0.5rem;
	display: flex;
	flex-direction: column;
	background: black;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 12%;
	padding-right: 1.5rem;
}

.main {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-start;
	height: 80%;
}

.footer {
	height: 8%;
	color: green;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}

.prompt {
	font-size: 3rem;
	text-align: center;
	color: green;
}

.echo {
	font-size: 1.5rem;
	color: green;
	white-space: pre;
}

.logo {
	width: 5rem;
	height: 5rem;
}

@media (max-width: 600px) {
	.grid {
		width: 100%;
		flex-direction: column;
	}
}

.blink {
	animation: blinker 1s linear infinite;
}

@keyframes blinker {
	50% {
		opacity: 0;
	}
}

.gear {
	animation-name: spin;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
