.main {
  height: 80%;
  display: flex;
  justify-content: center;
}

.space {
  position: relative;
  aspect-ratio: 9 / 14;
  height: 100%;
}

.start {
  position: absolute;
  width: 3em;
  height: 3em;
  top: 4%;
  left: 35%;
}

.starb {
  position: absolute;
  width: 4em;
  height: 4em;
  top: 85%;
  left: 65%;
}

.starl {
  position: absolute;
  width: 3em;
  height: 3em;
  top: 40%;
  left: 4%;
}

.starr {
  position: absolute;
  width: 3em;
  height: 3em;
  top: 20%;
  left: 82%;
}

.starm {
  position: absolute;
  width: 2em;
  height: 2em;
  top: 50%;
  left: 65%;
}

.home {
  color: green;
  background: black;
  height: 100vh;
  width: 100wh;
  padding: 0.2em;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
  padding-right: 1em;
  padding-top: 0.5em;
}

.footer {
  height: 10%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 0.8em;
}

.echo {
  font-size: 1.5em;
}

.prompt {
  font-size: 2.5em;
}

.logo {
  width: 3em;
  height: 3em;
}

.spin {
  animation-name: spiner;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.blink {
  animation: blinker 1s linear infinite;
}

@keyframes spiner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@media (max-width: 600px) {
  .echo {
    font-size: 1.2em;
  }

  .prompt {
    font-size: 1.5em;
    font-weight: bold;
  }

  .footer {
    font-size: 0.7;
  }

  .logo {
    width: 3em;
    height: 3em;
  }
}
